<%- include('./partials/head') %>

<!-- <article>
    <div class="maincontainer">

      <div class="thecard">
  
      <div class="thefront">front of card</div>
  
      <div class="theback"></div>
      <div class="theback">
          <h1><%= data.name %> <%= data.surname %></h1>
          <p><span class="green">Mediavormgever en Web Developer</span><br><br><br><br> Ik kom uit Syrie. Ik ben 27 jaar oud en ik woon in Nederland al 7 jaar
          <br><br><br><br>Werkervaring: Photoshop, InDesign, Illustrator, Animate, Blender, XD en Premiere Pro</p>
        </div>

        <div class="thefront"></div>

</article> -->

<div class="container">
  <div class="img-container">
    <img src="/assets/IMG_7648.JPG" alt="my-img">
  </div>
  <h1 class="my-name">Abeer Younes</h1>
  <p class="study">Mediavormgever en Web Developer</p>
  <p class="info">
    Werkervaring: Photoshop, InDesign, Illustrator, Animate, Blender, XD en Premiere Pro
  </p>
  <div class="social-media-container">
    <a href="https://github.com/Abeeryu">
    <button><i class="fab fa-github"></i></button>
  </a>
    <a href="https://www.linkedin.com/in/abeer-younes-b1a986226/">
    <button><i class="fab fa-linkedin-in"></i></button>
  </a>
  </div>
</div>



<%- include('./partials/foot') %>
