<%- include('./partials/head') %>

<article>
    <div class="maincontainer">

      <div class="thecard">
  
      <div class="thefront">front of card</div>
  
      <div class="theback"></div>
      <div class="theback">
          <h1><%= data.name %> <%= data.surname %></h1>
          <p><span class="green">Mediavormgever en Web Developer</span><br><br><br><br> Ik kom uit Syrie. Ik ben 27 jaar oud en ik woon in Nederland al 7 jaar
          <br><br><br><br>Werkervaring: Photoshop, InDesign, Illustrator, Animate, Blender, XD en Premiere Pro</p>
        </div>

        <div class="thefront"></div>

</article>

<%- include('./partials/foot') %>
