/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: Helvetica, Arial, sans-serif;
  background: silver;
}

header {
  padding: 0.5rem;
  background: red;
  color: white;

  h1 {
    text-transform: uppercase;
  }
}

article {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 12rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  overflow: hidden;
  background: white;
  text-align: center;
  transform-origin: center;
  transform: rotate(2deg);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  > p {
    font-size: 2rem;
    font-family: 'Permanent Marker', cursive;
    transform-origin: center;
    transform: rotate(-6deg);
    word-break: break-all;
  }
}

footer {
  height: 1rem;
  background: red;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: center;

}

.maincontainer{
  position: absolute;
  width: 250px;
  height: 320px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 8%;
  
}  

.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.thecard:hover{
  transform: rotateY(180deg);
}

.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  background-image: url(IMG_7648.JPG);
  background-size: cover;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 1rem;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  box-shadow: 10px 10px 5px rgb(191, 206, 211);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: linear-gradient(beige,rgb(105, 167, 175));
  color: #fff;
  transform: rotateY(180deg);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 1rem;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 10px 10px 5px rgb(191, 206, 211);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1{
  color: #345e30;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
  position: relative;
  line-height: 1em;
  margin-bottom: 10px;
  margin-top: 2rem;
  font-family: 'Times New Roman', Times, serif;

}

p{
  color: #403c3c;
  position: center;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.green{
  color: #85b481;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primarycolor: rgb(15, 161, 130);
  --background-color: black;
  --line-color: yellow;
  --shadow-color-container: rgba(0, 0, 0, 0.15);
  --shadow-color-img: rgba(0, 0, 0, 0.2);
  --main-font: "Montserrat", sans-serif;
  --large-text: 1.4em;
  --body-text: 1em;
  --button-font: 1.7em;
  --button-color: white;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 14px;
  background: var(--background-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  background-color: var(--primarycolor);
  width: 220px;
  height: 220px;
  padding: 24px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 60px var(--shadow-color-container);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: width 0.4s, height 0.4s, border-radius 0.4s;
}

.container:hover {
  width: 340px;
  height: 440px;
  border-radius: 4px;
}

.img-container {
  width: 170px;
  height: 170px;
  min-height: 170px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 40px 5px var(--shadow-color-img);
}

.img-container img {
  width: 100%;
  max-width: 100%;
}

.my-name {
  font-size: var(--large-text);
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 16px;
}

.study,
.info {
  font-size: var(--body-text);
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: center;
}

.study {
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 24px;
  border-bottom: 2px solid var(--line-color);
}

.social-media-container {
  position: absolute;
  top: 40px;
  left: -40px;
  display: flex;
  flex-direction: column;
}

.social-media-container button {
  border: none;
  outline: none;
  color: var(--button-color);
  background: none;
  width: 20px;
  height: 40px;
  font-size: var(--button-font);
  margin-bottom: 16px;
  cursor: pointer;
  transition: transform 0.4s;
}

.container:hover .social-media-container button {
  transform: translatex(60px);
  transition-delay: 0.3s;
}

.container:hover .social-media-container button:nth-child(2) {
  transition-delay: 0.5s;
}



